<div class="wrapper">
		<aside class="sidebar">
			<ul class="left-sidebar-nav">
				<!--<li class="left-sidebar-nav--active">
					<a class="left-sidebar-nav__link" href="#">
						<span class="left-sidebar-nav__icon"></span>
						Dashboard <span class="badge left-sidebar-nav__badge badge--red">8</span>
					</a>
				</li>
				<li>
					<a class="left-sidebar-nav__link" href="#">
					
						Spare
					</a>
				</li>-->
                <li class="left-sidebar-nav--active">
					<a class="left-sidebar-nav__link" href="#">
						<span class="left-sidebar-nav__icon"><i class="icon pe-7s-edit"></i></span>
						Show Metadata
					</a>
				</li>
				<li class="left-sidebar-nav--collapsible">
					<a class="left-sidebar-nav__link" href="#">
						Browse Refsets
					</a>
					<ul class="left-sidebar-nav__submenu">
						<li><a href="#"><span>Browse Refsets</span></a></li>
						<li><a href="#"><span>Register</span></a></li>
                        <li><a href="#"><span>Login</span></a></li>
					</ul>
				</li>
					<li class="left-sidebar-nav--collapsible">
					<a class="left-sidebar-nav__link" href="#">
						Useful tools
					</a>
					<ul class="left-sidebar-nav__submenu">
						<li><a href="#"><span>Help</span></a></li>
						<li><a href="#"><span>IHTSDO Website</span></a></li>
                        <li><a href="#"><span>Contact Support</span></a></li>
					</ul>
				</li>
			</ul>
		</aside> <!-- /left-sidebar-nav -->
        
        <!--Begin Main Content-->
        
        <div class="content">
        <!-- start row -->
        <div class="col-md-12">
       <div class="background-white">
    <div class="most-popular">
<h3> Most Recent Refsets</h3>
    <div class="wrapper">
        <div class="snomed-heading">
            <h4>Snomed CT</h4>
            </div>
        <div class="refset-details">
             <h4>Reference Set Details</h4>
            </div>
   </div>
   {{description}}</div></div>
    </div>
     <!--end row-->
           <div class="col-md-12">
       <div class="background-white">
    <div class="most-popular">
<h3> Most Popular Refsets</h3>
    <div class="wrapper">
        <div class="snomed-heading">
            <h4>Snomed CT</h4>
            </div>
        <div class="refset-details">
             <h4>Reference Set Details</h4>
            </div>
   </div></div></div>
    </div>
     <!--end row-->
  
      
        </div>
</div>