<div class="wrapper">
		<aside class="sidebar">
			<ul class="left-sidebar-nav">
				<!--<li class="left-sidebar-nav--active">
					<a class="left-sidebar-nav__link" href="#">
						<span class="left-sidebar-nav__icon"></span>
						Dashboard <span class="badge left-sidebar-nav__badge badge--red">8</span>
					</a>
				</li>
				<li>
					<a class="left-sidebar-nav__link" href="#">
					
						Spare
					</a>
				</li>-->
				<li class="left-sidebar-nav--collapsible">
					<a class="left-sidebar-nav__link" href="#">
						Refsets
					</a>
					<ul class="left-sidebar-nav__submenu">
						<li><a href="#"><span>Browse Refsets</span></a></li>
						<li><a href="#"><span>Register</span></a></li>
                        <li><a href="#"><span>Login</span></a></li>
					</ul>
				</li>
					<li class="left-sidebar-nav--collapsible">
					<a class="left-sidebar-nav__link" href="#">
						Useful tools
					</a>
					<ul class="left-sidebar-nav__submenu">
						<li><a href="#"><span>Help</span></a></li>
						<li><a href="#"><span>IHTSDO Website</span></a></li>
                        <li><a href="#"><span>Contact Support</span></a></li>
					</ul>
				</li>
              
			</ul>
		</aside> <!-- /left-sidebar-nav -->
        
        <!--Begin Main Content-->
        
        <div class="content">
   
     <div class="col-md-12">
     <!--end row-->
        <div class="col-md-4">
       <div class="background-white">
       <h3 class="box__title">Some Alerts</h3>
       <div class="alert alert-negative alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<div class="media">
								<figure class="pull-left alert--icon">
									<i class="pe-7s-close-circle"></i>
								</figure>
								<div class="media-body">
									<h3 class="alert--title">This is a Negative Warning</h3> 
									<p class="alert--text">Some details about the error. Only creating these here so they can be added elsewhere.</p>
								</div>
							</div>
						</div>
                        <div class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<div class="media">
								<figure class="pull-left alert--icon">
									<i class="pe-7s-attention"></i>
								</figure>
								<div class="media-body">
									<h3 class="alert--title">This is a Warning</h3> 
									<p class="alert--text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
								</div>
							</div>
						</div>
                        <div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<div class="media">
								<figure class="pull-left alert--icon">
									<i class="pe-7s-info"></i>
								</figure>
								<div class="media-body">
									<h3 class="alert--title">For your information</h3> 
									<p class="alert--text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
							</div>
						</div>
       </div>
       </div>
      <!--end row-->
          <div class="col-md-4">
       <div class="background-white">
        <h3 class="box__title">Some Form Items</h3>
         <div class="wrapper login-page">

		<div class="row mtop-15">
			<div class="col-md-12 clearfix bg--dark">
				
					<div class="input-group">
					<span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
					<input type="text" class="input-text form-control" placeholder=" Desired Username">
				</div>
				<div class="input-group mtop-15">
					<span class="input-group-addon"><i class="pe-7f-lock pe-fw"></i></span>
					<input type="password" class="input-text form-control" placeholder="Password">
				</div>
                	<div class="input-group mtop-15">
					<span class="input-group-addon"><i class="pe-7f-lock pe-fw"></i></span>
					<input type="password" class="input-text form-control" placeholder="Repeat Password">
				</div>
                <div class="input-group mtop-15">
					<span class="input-group-addon"><i class="pe-7f-mail pe-fw"></i></span>
					<input type="password" class="input-text form-control" placeholder="Email Address">
				</div>
                	
                	
				<div class="clearfix"></div>
				<a href="index.html" class="btn btn-ihtsdogreen pull-right">Register</a>
                	<a href="index.html" class="btn btn-ihtsdored pull-right">Clear Form</a>
</div>
			</div>
		</div>
       </div>
       </div>
      <!--end row-->
          <div class="col-md-4">
       <div class="background-white">
   <h3 class="box__title"> Some More Inputs</h3>
       <div class="widget__content">
						<input type="text" class="input-text" placeholder="Usual input field">
						<div class="dropdown">
							<select name="one" class="dropdown-select">
								<option value="">Dropdown Menu</option>
								<option value="1">Option #1</option>
								<option value="2">Option #2</option>
								<option value="3">Option #3</option>
							</select>
						</div>

						<input type="file" name="uploader" id="uploader">
						<label for="uploader">Single file uploader</label>

						<textarea class="textarea" rows="6" placeholder="Usual Text Area"></textarea>

						<input type="checkbox" id="chkbx-1" class="checkbox"><label for="chkbx-1">Checkbox</label>
						<input type="radio" id="radio-1" name="input-radio" class="radio"><label for="radio-1">Radio Select</label>
						<input type="radio" id="radio-2" name="input-radio" class="radio"><label for="radio-2">Radio Select</label>
						<button class="btn btn-light pull-right" type="submit">Submit</button>
						<div class="clearfix"></div>
					</div>
       </div>
       </div>
      <!--end row-->
      </div>
       <div class="col-md-12">
        <!--end row-->
          <div class="col-md-6">
       <div class="background-white">
         <h3 class="box__title">Some Accordians</h3>
  
                       
							<div class="media user user--added">
								<figure class="pull-left rounded-image user__img">
									<img class="media-object" src="images/ashley.jpg" alt="user">
								</figure>
								<div class="media-body">
									<h4 class="media-heading user__name">Ashley Burton</h4>
									<small class="user__location"><i class="pe-7f-map-marker"></i> Parrsboro, Nova scotia</small>

									<input type="checkbox" class="btn-more-check" id="more1">
									<label class="c-btn--more" for="more1"></label>

									<div class="accordion__details">
										<p>EMAIL <span><a href="#">abu@ihtsdo.org</a></span></p>
										<p>Clinical Domain <span><a class="color--dark-grey" href="#">Cardiology</a></span></p>
										<p>Organization <span>IHTSDO</span></p>
									<p>Member since <span>September 02 2015</span></p>
                                    <p>Refsets Published since <span>1000</span></p>
									</div>
								</div>
							</div> <!-- /user -->

								<div class="media user user--added">
								<figure class="pull-left rounded-image user__img">
									<img class="media-object" src="images/ashley.jpg" alt="user">
								</figure>
								<div class="media-body">
									<h4 class="media-heading user__name">Ashley Burton</h4>
									<small class="user__location"><i class="pe-7f-map-marker"></i> Parrsboro, Nova scotia</small>

									<input type="checkbox" class="btn-more-check" id="more1">
									<label class="c-btn--more" for="more1"></label>

									<div class="accordion__details">
										<p>EMAIL <span><a href="#">abu@ihtsdo.org</a></span></p>
										<p>Clinical Domain <span><a class="color--dark-grey" href="#">Cardiology</a></span></p>
										<p>Organization <span>IHTSDO</span></p>
									<p>Member since <span>September 02 2015</span></p>
                                    <p>Refsets Published since <span>1000</span></p>
									</div>
								</div>
							</div> <!-- /user -->


						
				
         </div>
         </div>
     <!--end row-->
          <div class="col-md-6">
       <div class="background-white">
         <h3 class="box__title">Some Table Classes</h3>
         <table class="table">
							<thead>
								<tr>
									<th>Refset Title</th>
									<th>Description</th>
									<th>Members</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>String Here</td>
									<td>String Here</td>
									<td>String Here</td>
								</tr>
								<tr>
									<td class="bg--green">Inactive</td>
									<td class="bg--red">Inactive</td>
									<td class="bg--orange">Warning</td>
								</tr>
								
								
							</tbody>
						</table>
         </div></div>
         
           <!--end row-->
         </div>
              <!-- start row -->
        <div class="col-md-12">
       <div class="background-white">
    <div class="most-popular">
 <h3 class="box__title"> Most Recent Refsets</h3>
    <div class="wrapper">
        <div class="snomed-heading">
            <h4>Snomed CT</h4>
            </div>
        <div class="refset-details">
             <h4>Reference Set Details</h4>
            </div>
   </div></div></div>
    </div>
           <div class="col-md-12">
       <div class="background-white">
    <div class="most-popular">
<h3 class="box__title"> Most Popular Refsets</h3>
    <div class="wrapper">
        <div class="snomed-heading">
            <h4>Snomed CT</h4>
            </div>
        <div class="refset-details">
             <h4>Reference Set Details</h4>
            </div>
   </div></div></div>
    </div>
     <!--end row-->
  
      
        </div>
</div>